{% extends "base.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile</legend>
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.birth_date.label(class="form-control-label") }}
                {% if form.birth_date.errors %}
                {{ form.birth_date(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.birth_date.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.birth_date(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
    <br />
    <div>
        <h4>Preference</h4>
        <div class='message'>
            <p>beverage: {{ preference['name'] }}</p>
            <p>roast type: {{ preference['roast_type'] }}</p>
            <p>syrup: {% if preference['syrup'] %} Da {% else %} Nu {% endif %}</p>
        </div>
    </div>
    <br />
    <div>
        <h4>{% block title %} Programmed coffees {% endblock %}</h4>
        {% for coffee in programmed_coffees %}
        <div class='container-fluid'>
            <h6>{{ coffee['name'] }}</h6>
            <p>roast type: {{ coffee['roast_type'] }}</p>
            <p>syrup: {% if preference['syrup'] %} Da {% else %} Nu {% endif %}</p>
            <p>time: {{ coffee['start_time'] }}</p>
            <form method="post" action="{{ url_for('profile.delete_program') }}">
                <input type="hidden" value="{{ coffee['id'] }}" name="program_to_delete">
                <button class="btn btn-outline-info" type="submit">Delete</button>
            </form>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container-fluid">
    <a class="btn btn-outline-info" href="{{ url_for('profile.preference') }}">Change preference</a>
    <a class="btn btn-outline-info" href="{{ url_for('profile.program') }}">Add programmmed coffee</a>
</div>
<br />
{% endblock %}