{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% if g.user %}
        <div class="content-section">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Coffee options</legend>
                    <div class="form-group">
                        {{ form.beverage_type.label(class="form-control-label") }}
                        {% if form.beverage_type.errors %}
                        {{ form.beverage_type(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.beverage_type.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.beverage_type(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.roast_type.label(class="form-control-label") }}
                        {% if form.roast_type.errors %}
                        {{ form.roast_type(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.roast_type.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.roast_type(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-check">
                        {{ form.syrup(class="form-check-input") }}
                        {{ form.syrup.label(class="form-check-label") }}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
                {% if preference %}
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Make favorite</button>
                    </div>
                {% endif %}
            </form>
        </div>
        <div class="container-fluid">
            <a class="btn btn-outline-info" href="{{ url_for('refill.refill_coffee') }}">Refill coffee</a>
            <a class="btn btn-outline-info" href="{{ url_for('refill.refill_milk') }}">Refill milk</a>
            <a class="btn btn-outline-info" href="{{ url_for('refill.refill_syrup') }}">Refill syrup</a>
        </div>
        <br />
        {% else %}
        <div class="alert alert-info">
            Please log in to make coffee!
        </div>
        {% endif %}
    </div>
    <div class="col-md-4">
        <div class="content-section">
            <h3>Our Sidebar</h3>
            <p class='text-muted'>You can put any information here you'd like.
            <ul class="list-group">
                <li class="list-group-item list-group-item-light">Current Temperature: {{temp}}</li>
                <li class="list-group-item list-group-item-light">Info2</li>
                <li class="list-group-item list-group-item-light">Info3</li>
            </ul>
            </p>
        </div>
    </div>
</div>
{% endblock %}